/* stylesheet for ed3n.me - personal website of Colin Berry */
/* version 4 - 'cope'							     		*/


/* 			GENERAL 		*/
html, body {
	background: #E3E3E3;
}
h1,h2,h3,h4,h5,h6,p,a {
	font-family: "Roboto", sans-serif;
	/* 400,300,100,500,700,900 */
	letter-spacing: 1;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
a, a img {
	border: 0;
	outline: 0;
}
#page-wrap {
	width: 100%;
}
	#header-wrap {
		background: #0f1622 url(../images/hbg.png) fixed center top;
	}
	header {
		width: 1400px;
		margin: 0 auto;
	}
		#top-header {
			height: 150px;
			line-height: 150px;
			overflow: hidden;
		}
			#logo {
				float: left;
			}
			#nav {
				float: right;
			}
				#nav li {
					list-style-type: none;
					float: left;
				} 
					#nav li a {
						padding: 10px 25px;
						margin: 0 0 0 5px;
						border: 1px solid rgba(0,0,0,0);
						color: #7e8aa2;
						transition: all .1s ease-in-out;
					}
						#nav li a:hover {
							color: #E3E3E3;
							border: 1px solid #E3E3E3;
						}
		#bot-header {
			width: 1400px;
			height: 500px;
			display: block;
		}
		#featured {
			overflow: hidden;
			width: 1400px;
			text-align: center;
		}
			#bot-header h1 {
				font-size: 2.8ex;
				font-weight: 400;
				color: #ccd1dc;
				margin: 150px 0 -5px 0;
			}
			#bot-header h2 {
				color: #7e8aa2;
				font-size: 5ex;
				font-weight: 300;
				margin: 0 0 5px 0;
			}
			#bot-header h3 {
				font-size: 1.8x;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #3f5071;
			}
			#bot-header span {
				color: #3f5071;
				font-size: 7ex;
				padding: 15px 30px;
				transition: all .1s ease-in-out;
				margin: 150px 0 0 0;
				cursor: pointer;
			}
				#bot-header span:hover {
					color: #e3e3e3;
				}
	#main-wrap {
		width: 1400px;
		margin: 0 auto;
		min-height: 485px;
		padding: 75px 0 0 0;
		overflow: auto;
	}
		#about-me {
			width: 800px;
			float: left;
		}
			#about-me h1, #curproj h1, #contact-me h1 {
				color: #7E8AA2;
				font-size: 3ex;
				font-weight: 700;
				padding: 0 0 25px 0;
			}
			#about-me p, #curproj p, #contact p {
				color: #263248;
				line-height: 30px;
			}
			#about-me a {
				color: #263248;
				border: 1px solid #263248;
				padding: 10px 25px;
				margin: 0 0 0 10px;
				font-weight: 700;
				transition: all .1s ease-in-out;
			}
				#about-me a:hover {
					background: #263248;
					color: #E3E3E3;
				}
			.about-contact {
				padding-top: 50px;
			}
		#curproj, #pt-bw, #port-scrn {
			width: 550px;
			float: right;
		}
			#curproj {
				margin-bottom: 75px;
			}
			#pt-bw ul {
				columns: 2;
			    -webkit-columns: 2;
			    -moz-columns: 2;
			}
			#pt-bw li {
				list-style-type: none;
				width: 265px;
				padding: 10px;
				font-family: "Roboto", sans-serif;
				color: #263248;
			}
				#pt-bw li:nth-child(odd) {
					background: #d3d5d8;
				}
				#curproj-img {
					width: 265px;
					height: 400px;
					background: url(../images/cv5.png);
					float: left;
				}
				#curproj-aboot {
					width: 285px;
					height: 400px;
					float: right;
					background: #263248;
				}
					#curproj-aboot h1 {
						color: #fff;
						margin: 0;
						padding: 20px 25px 0 25px;
						font-weight: 300;
					}
					#curproj-aboot p {
						color: #7E8AA2;
						padding: 0 25px 0 25px;
					}
	#backtotop {
		width: 100%;
		height: 40px;
		display: block;
	}
		#backtotop span {
			float: right;
			margin: 0 25px 0 0;
			cursor: pointer;
			font-size: 3ex;
			background: #0A111F;
			color: #fff;
			padding: 10px 25px;
			border-radius: 3px 3px 0px 0px;
		}
	#footer-wrap {
		height: 400px;
		background: #202b3e;
	}
		#top-footer-wrap {
			height: 260px;
		}
			#top-footer {
				width: 1400px;
				margin: 0 auto;
			}
				.tf {
					width: 275px;
					height: 25px;
					float: left;
					margin-right: 100px;
				}
					.tf:last-child {
						margin-right: 0;
					}
					#tf-1 {
						height: 300px;
						line-height: 300px;
					}
					.tf h3 {
						font-weight: 700;
						font-size: 1.8ex;
						color: #7E8AA2;
						margin-top: 60px;
						border-bottom: 2px solid #7E8AA2;
						padding-bottom: 8px;
					}
					.tf ul li {
						list-style-type: none;
						margin-top: 10px;
					}
					.tf li a {
						color: #ffffff;
						display: block;
						font-size: 2.2ex;
						transition: all .1s ease-in-out;
					}
					.tf li a:hover {
						color: #7E8AA2;
					}
					.tf li span {
						float: right;
					}
		#bot-footer-wrap {
			height: 100px;
			background: #0A111F;
		}
			#bot-footer-wrap p {
				text-align: center;
				line-height: 100px;
				color: #7E8AA2;
				font-size: 1.6ex;
			}
			#bot-footer-wrap span {
				color: #7E8AA2;
				transition: all .1s ease-in-out;
				cursor: pointer;
			}
				#bot-footer-wrap span:hover {
					color: #E3E3E3;
				}

/* 		PORTFOLIO		*/
#pt-wrap, #proj-wrap {
	width: 100%;
	height: 75px;
	background: #263248;
	display: block;
}
	#proj-wrap {
		height: 150px;
	}
	#port-title, #proj-title {
		width: 1400px;
		margin: 0 auto;
	}
		#port-title h1 {
			color: #ccd1dc;
			font-size: 2.5ex;
			font-weight: 400;
			text-align: left;
			line-height: 75px;
		}
	#port-content, #proj-content {
		width: 1400px;
		margin: 0 auto;
		min-height: 400px;
		margin-top: 75px;
		overflow: auto;
	}
		#port-content ul {
			text-align: justify;
		}
		#port-content ul:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
		#port-content li {
			width: 273px;
			display: inline-block;
			border: 1px solid #E3E3E3;
			transition: all .1s ease-in-out;
			overflow: hidden;
			border-radius: 2px;
		}
			#port-content li:hover {
				border: 1px solid #C73226;
				background: #C73226;
			}
			#port-content h2 {
				text-align: center;
				font-size: 2.2ex;
				font-weight: 400;
				line-height: 45px;
				height: 45px;
			}
			#port-content a {
				color: #263248;
				transition: all .1s ease-in-out;
				opacity: .95;
			}
			#port-content a:hover {
				color: #fff;
				opacity: 1;
			}
	#port-contact {
		width: 100%;
		height: 200px;
		line-height: 200px;
		background: #ccd1dc;
		text-align: center;
	}
		#port-contact p {
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-size: 2.5ex;
			color: #0A111F;
		}
		#port-contact a {
			color: #C73226;
			font-weight: 700;
			padding: 10px 25px;
			border: 1px solid #C73226;
			margin: 0 0 0 15px;
			transition: all .1s ease-in-out;	
		}
			#port-contact a:hover {
				background: #C73226;
				color: #fff;
			}
/*		INVIDIVIAL PROJECTS		*/
.pt-stat {
	width: 25%;
	float: left;
}
	.pt-stat a {
		float: right;
		color: #7e8aa2;
		text-transform: uppercase;
		font-size: 1.8ex;
		font-weight: 700;
		padding: 10px 25px;
		border: 1px solid #7e8aa2;
		border-radius: 3px;
		margin-top: 53px;
		transition: all .1s ease-in-out;
	}
		.pt-stat a:hover {
			background: #ccd1dc;
			border: 1px solid #ccd1dc;
			color: #263248;
		}
#proj-title h1 {
	font-size: 1.8ex;
	font-weight: 700;
	text-transform: uppercase;
	color: #7e8aa2;
	margin: 40px 0 10px 0;
}
	#proj-title h2 {
		color: #ccd1dc;
		font-size: 2.4ex;
		font-weight: 400;
	}
	.version {
		font-weight: 300;
		font-size: 1.8ex;
	}
/*		ABOUT PROJECT		*/
#pt-about {
	float: left;
	width: 800px;
}
	#pt-about h1, #pt-bw h1, #port-scrn h1 {
		font-size: 3ex;
		font-weight: 400;
		color: #263248;
		margin: 0 0 25px 0;
	}
	#pt-about h2 {
		color: #263248;
		font-weight: 700;
		font-size: 2.2ex;
		text-transform: uppercase;
		padding: 10px 0;
	}
	#pt-about p {
		display: block;
		margin: 0 20px 20px 0;
	}
		#pt-about p:last-child {
			margin: 0 0 75px 0;
		}
		#pt-bw span {
			padding: 0 20px 0 15px;
			color: #C73226;
		}
			#port-scrn {
				margin: 75px 0 75px 0;
				text-align: justify;
			}
				#port-scrn:after {
					content: '';
					display: inline-block;
					width: 100%;
				}
				#port-scrn a {
					display: inline-block;
					border: 2px solid #E3E3E3;
					transition: all .15s ease-in-out;
					opacity: .8;
				}
					#port-scrn a:hover {
						border: 2px solid #C73226;
						opacity: 1;
					}
/* CONTACT */
#contact-me {
	width: 600px;
	float: left;
}
	#contact-me div {
		width: 600px;
		font-family: "Roboto",sans-serif;
		font-weight: 400;
		display: block;
		margin: 0 0 25px 0;
	}
		#contact-me label {
			font-size: 2ex;
			font-weight: 400;
		}
		#contact-me input[type=text], #contact-me textarea {
			width: 100%;
			border: 1px solid #7e8aa2;
			padding: 10px;
			margin-top: 15px;
		}
			#contact-me input[type=text]:focus, 
			#contact-me textarea:focus,
			#contact-me textarea:hover {
				border: 1px solid #263248;
				background: #ccd1dc;
				transition: all .1s ease-in-out;
			}
			#contact-me input[type=text]:hover {
				border: 1px solid #263248;
			}
			#contact-me input[type=submit] {
				float: right;
				color: #fff;
				font-family: "Roboto",sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				background: #C73226;
				padding: 10px 25px;
				cursor: pointer;
				border-radius: 2px;
				margin-bottom: 75px;
				transition: all .1s ease-in-out;
			}
				#contact-me input[type=submit]:hover {
					background: #263248;
				}
	#contact-other {
		width: 600px;
		float: right;
	}
		#contact-other p {
			font-size: 3ex;
			font-weight: 300;
			color: #0A111F;
		}
			#contact-other ul {
				list-style-type: none;
			}
				#contact-other li {
					float: left;
					width: 150px;
					text-align: center;
					transition: all .1s ease-in-out;
				}
					.co-fb { background: #0965a6; border-radius: 3px 0 0 3px; }
						.co-fb:hover { background: #085a94; }
					.co-tw { background: #3ebbda; }
						.co-tw:hover { background: #39adca; }
					.co-rd { background: #df8236; }
						.co-rd:hover { background: #cd7731; }
					.co-yt { background: #e32d2d; border-radius: 0 3px 3px 0; }
						.co-yt:hover { background: #cb2121; }
				#contact-other a {
					color: rgba(0,0,0,.6);
					font-size: 3ex;
					display: block;
					padding: 15px 0px;
					transition: all .1s ease-in-out;
				}
					#contact-other a:hover {
						color: #fff;
					}
				#social {
					overflow: auto;
					margin: 40px 0px 85px 0px;
				}
